<md-toolbar layout="row" layout-align="center center">

  <md-button ui-sref="home">Remedi on {{ vm.$rootScope.Rx.AgentHost }} </md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="https://github.com/RemediIO/RxRemedi" class="md-raised md-primary">Source</md-button>
    <md-button href="https://app.remedi.io" class="md-raised md-primary">Github</md-button>
    <md-button href="https://rx.remedi.io" class="md-raised md-primary">OpenShift</md-button>
    <md-button href="https://pi.remedi.io" class="md-raised md-primary">Raspberry Pi</md-button>
    <md-button ng-click="vm.captureStill()" class="md-raised md-accent">Capture Still</md-button>

  </section>



</md-toolbar>
